body {
  background-color: #fff;
  font-family: "Overpass", Times, serif;
}

/* Navbar */
nav {
  padding-top: 1.7rem !important;
  padding-bottom: 1.7rem !important;
}

nav a:hover {
  color: #ffc107 !important;
}

.navbar {
  opacity: 0.8;
}

/* .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-shadow: 3px 3px 0 #777;
} */

/* Home */
.logo {
  padding-top: 2.5rem;
}

.home-slide {
  display: block;
  height: 80vh;
  /* width: 80%; */
  margin: auto;
}

/* Cards */
.card {
  /* width: 14.0625rem; */
  width: 15rem;
  margin: auto;
  border: none;
}

.card-body {
  padding: 0;
}

.card-title {
  padding-top: 1rem;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  background-position: center;
  background-size: cover;
  box-shadow: 7px 18px 50px #555;
  height: 23.75rem;
}

.card-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/Image.jpg");
  color: #fff;
}

.card-1:hover {
  background-image: url("../images/Image.jpg");
  transform: scale(1.04, 1.04);
  color: #ffc107 !important;
}

.card-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/Skiceicrtezi.jpg");
  color: #fff;
}

.card-2:hover {
  background-image: url("../images/Skiceicrtezi.jpg");
  transform: scale(1.04, 1.04);
  color: #ffc107 !important;
}

.card-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/Stakloikeramika.jpg");
  color: #fff;
}

.card-3:hover {
  background-image: url("../images/Stakloikeramika.jpg");
  transform: scale(1.04, 1.04);
  color: #ffc107 !important;
}

.card-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/Dizajn.jpg");
  color: #fff;
}

.card-4:hover {
  background-image: url("../images/Dizajn.jpg");
  transform: scale(1.04, 1.04);
  color: #ffc107 !important;
}

.card-text {
  height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-link {
  color: #000;
}

.card-link:hover {
  color: #ffc107 !important;
}

/* Events */

/* Events Carousel */
.mySlides {
  display: block;
  height: 55vh;
  /*  width: 100%;*/
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1s ease-in;
}

.inner:hover img {
  transform: scale(1.2);
}

/* Workshop */
.workshop-title {
  text-transform: uppercase;
}

/* Gallery */
.gallery-block {
  padding-bottom: 3.75rem;
  padding-top: 2.45rem;
}

.gallery-block .heading {
  /* margin-bottom: 3.125rem; */
  text-align: center;
}

.gallery-block .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.compact-gallery .item {
  overflow: hidden;
  margin-bottom: 0;
  background: #000;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image {
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info {
  position: relative;
  display: inline-block;
}

.gallery-block.compact-gallery .item .description {
  display: grid;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
  transition: 0.8s ease;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading {
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body {
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

.zoom-on-hover {
  padding: 15px !important;
  background: none !important;
}

/* About Me */
.about-me-img {
  padding: 0 0 1rem 0;
}

/* Google Map */
.gmap-canvas,
iframe {
  width: 100%;
  height: 28.125rem;
  border: none;
}

/* Footer */
footer {
  background-color: #555;
  color: #fff;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ffc107;
  text-decoration: none;
}

.friends {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
}

.friends > li {
  padding: 1rem 2.5rem;
}

.social-media {
  height: 1.5rem;
}

.to-the-top {
  text-transform: uppercase;
  font-weight: 700;
}

.to-the-top:hover {
  color: #ffc107 !important;
}

.copyright {
  min-height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra-space {
  display: inline-block;
  width: 5px;
}

/* Media Queries */
@media (min-width: 36rem) {
  .gallery-block.compact-gallery .item .description {
    opacity: 0;
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1;
  }

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

@media (min-width: 62rem) {
  .about-me-img {
    padding: 0 1rem 0.5rem 0;
  }
}

/* Home Carousel Media Queries */
@media (max-width: 1400px) {
  .home-slide {
    display: block;
    height: 60vh;
    /* width: 100%; */
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .home-slide {
    display: block;
    height: 50vh;
    /* width: 100%; */
    margin: auto;
  }
}

@media (max-width: 768px) {
  .home-slide {
    display: block;
    height: 40vh;
    /* width: 100%; */
    margin: auto;
  }
}

/* card-columns Media Queries */
@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

.card-img-top {
  border-radius: 0;
}

.newsimage1 {
  width: 100px;
}
